/* BASE */
.ska svg, [data-ska-object] svg{
	max-width: 100%;
}

/* COLORS */
.ska-red svg path{
	fill: #e76c5f !important;
}

.ska-green svg path{
	fill: #22bc63 !important;
}

.ska-yellow svg path{
	fill: #d8bc4a !important;
}

.ska-orange svg path{
	fill: #fcb045 !important;
}

.ska-pink svg path{
	fill: #ea4c88 !important;
}

.ska-purple svg path{
	fill: #9b59b6 !important;
}

.ska-blue svg path{
	fill: #3aa6f1 !important;
}

.ska-black svg path{
	fill: #000 !important;
}

.ska-dark svg path{
	fill: #343a40 !important;
}

.ska-gray svg path{
	fill: #ddd !important;
}

.ska-white svg path{
	fill: #fff !important;
}

/* ROTATE */
.ska-rotate-45 svg{
	transform: rotate(45deg);
}

.ska-rotate-90 svg{
	transform: rotate(90deg);
}

.ska-rotate-135 svg{
	transform: rotate(135deg);
}

.ska-rotate-180 svg{
	transform: rotate(180deg);
}

.ska-rotate-225 svg{
	transform: rotate(225deg);
}

.ska-rotate-270 svg{
	transform: rotate(270deg);
}

.ska-rotate-315 svg{
	transform: rotate(315deg);
}

/* FILL */
.ska-fill,
.ska-fill-half,
.ska-fill-25
{
	width: 100%;
}

.ska-fill svg{
	width: 100%;
	height: 100%;
}

.ska-fill-half svg{
	width: 50%;
	height: 50%;
}

.ska-fill-25 svg{
	width: 25%;
	height: 25%;
}

.ska-fill-128px svg{
	width: 128px;
	height: 128px;
}


/* POSITIONS */
.ska-fixed
{
	position: relative;
}

.ska-fixed-top,
.ska-fixed-bottom,
.ska-fixed-left,
.ska-fixed-right,
.ska-fixed-center,
.ska-fixed-middle,
.ska-fixed-center-negative,
.ska-fixed-middle-negative
{
	position: absolute;
	z-index: 0;
}

.ska-fixed-backward
{
	z-index: -1;
}

/*.ska-fixed-forward
{
	z-index: 9999999;
}*/

.ska-fixed-top{
	top: 0;
}

.ska-fixed-bottom{
	bottom: 0;
}

.ska-fixed-left{
	left: 0;
}

.ska-fixed-right{
	right: 0;
}

.ska-fixed-center{
	left: 50%;
	transform: translateX(-50%);
}

.ska-fixed-middle{
	top: 50%;
	transform: translateY(-50%);
}

.ska-fixed-center.ska-fixed-middle{
	transform: translate3d(-50%, -50%, 0);
}

.ska-fixed-center-negative{
	transform: translateX(-50%);
}

.ska-fixed-middle-negative{
	transform: translateY(-50%);
}

.ska-fixed-center-negative.ska-fixed-middle-negative{
	transform: translate3d(-50%, -50%, 0);
}

/* SHADOWS */
.ska-shadow svg{
	filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.25));
}

.ska-shadow-lg svg{
	filter: drop-shadow(3px 5px 8px rgba(0, 0, 0, 0.25));
}

/* GRADIENTS */
.ska-gradient-1 svg path{
	fill: url(#gradient-1) #3aa6f1 !important;
}

.ska-gradient-2 svg path{
	fill: url(#gradient-2) #3aa6f1 !important;
}

.ska-gradient-3 svg path{
	fill: url(#gradient-3) #3aa6f1 !important;
}

.ska-gradient-4 svg path{
	fill: url(#gradient-4) #3aa6f1 !important;
}

.ska-gradient-5 svg path{
	fill: url(#gradient-5) #3aa6f1 !important;
}

.ska-gradient-6 svg path{
	fill: url(#gradient-6) #3aa6f1 !important;
}

.ska-gradient-7 svg path{
	fill: url(#gradient-7) #3aa6f1 !important;
}

.ska-gradient-8 svg path{
	fill: url(#gradient-8) #3aa6f1 !important;
}

