.bg-primary{
	background: #3aa6f1 !important;
}

*{
	font-family: 'Cabin', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Lobster', cursive;
}

body{
	background: #e1e1e1;
}

.py-big {
	padding: 64px 0 64px 0;
}

.py-extrabig {
	padding: 96px 0 96px 0;
}

main{
	overflow: hidden;
}